<div id="main-home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 text-center">
        <div class="infoCard">
          <button type="button" class="btn btn-primary my-5">Button</button>
        </div>
      </div>
      <div class="weather col-md-4">
        <div class="card" *ngIf="weather">
          <div class="card-header">
            Weather Info<span class="d-md-none" *ngFor="let day of weather">: {{Place}}</span>
          </div>
          <div class="card-body" *ngFor="let day of weather">
            <h1 class="card-title d-none d-md-block text-center mt-5" style="font-size: 4em;">
              {{day.Temperature.Minimum.Value | tempConverter : 'C'  }}°
            </h1>
            <h3 class="card-title text-center d-none d-md-block">
              {{Place}}
            </h3>
            <div class="d-md-none row m-0 px-0">
              <div class="col-3 px-0">
                <span class="d-md-none px-0" style="font-size: 10vw">
                  {{day.Temperature.Minimum.Value | tempConverter : 'C'  }}°
                </span>
              </div>
              <div class="col-6 p-0">
                <span class="d-md-none">
                  {{day.Day.IconPhrase}}
                  <br>
                  {{day.Day.PrecipitationIntensity}} {{day.Day.PrecipitationType}}
                </span>
              </div>
              <div class="col-3 p-0">
                <img src="../../assets/weatherIcons/{{day.Day.Icon}}s.png" class="" height="" alt="">
              </div>
            </div>
            <p class="d-none d-md-block text-center">
              <img src="../../assets/weatherIcons/{{day.Day.Icon}}s.png" class="" width="200px" alt="">
            </p>
            <p class="card-text text-center d-none d-md-block">
              {{day.Day.IconPhrase}}, {{day.Day.PrecipitationIntensity}} {{day.Day.PrecipitationType}}
            </p>
          </div>
          <div class="card-footer text-muted text-center pt-0 mt-0">
            <a href="http://www.accuweather.com/" target=""><img src="../../assets/weatherIcons/logo.png" height="15px"
                alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>