
  #main-home {
    position: relative;
    z-index: 0; /* The z-index should be higher than Google Maps */
    width: 100%;
    margin: 0;
    height:110%;
    padding: 10px;
    text-shadow: -2px 3px 7px #000000;
    background-color: rgba($color: #000000, $alpha: 0.3);
  }
.card, .loading{
  background-color: rgba($color: #000000, $alpha: 0.5);
  color: white;
}

@media (min-width:768px){
  .card, .infoCard, .loading{
    height: 45vh;
  }
}

@media (max-width:767px){
  .card, .loading{
    height: 19vh;
    margin-top:5px;
  } 
  .infoCard{
    height: 47.5vh;
  }
}

.infoCard{  
  background-color: rgba($color: #000000, $alpha: 0.5);
  color: white;
  overflow-y: auto;
}
.card, .infoCard, .loading{
  border-radius: 15px;
}

@media screen and (max-width:1024px){
  .larged{
    display: none!important;
  }
  .phone{
    display: inline;
  }
}

@media screen and (min-width:1025px){
  .phone{
      display: none;
  }
  .larged{
    display: inline;
  }
}
