<div class="container-fluid text-white text-left ">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
            <a href="#panel1" class="mdl-tabs__tab text-white">Helplines</a>
            <a href="#panel2" class="mdl-tabs__tab is-active text-white" *ngIf="App.District">District</a>
            <a href="#panel3" class="mdl-tabs__tab text-white">Registration</a>
        </div>

        <div class="mdl-tabs__panel" id="panel1">
            <div class="container p-3">
                <div class="row">
                    <div class="h3 col-12 text-info">
                        Kerala Helplines:
                    </div>
                    <div class="col-12">
                        <table class="table table-borderless table-hover align-middle">
                            <tbody>
                                <tr class="h5 py-3 text-white">
                                    <td>Emergency Numbers: </td>
                                    <td>
                                        <button type="button" class="btn btn-light btn-rounded btn-sm"
                                            (click)="openModal(EmergencyNum)">Show</button>
                                    </td>
                                </tr>
                                <tr class="h5 text-white">
                                    <td>Hospitals: </td>
                                    <td>
                                        <button type="button" class="btn btn-light btn-rounded btn-sm"
                                            (click)="openModal(HospitalNum)">Show</button>
                                    </td>
                                </tr>
                                <tr class="h5 text-white">
                                    <td>Police Control Room: </td>
                                    <td>
                                        <button type="button" class="btn btn-light btn-rounded btn-sm"
                                            (click)="openModal(ControlRoomNum)">Show</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12 text-center">
                        <a href="tel:108">
                            <button type="button" class="btn btn-primary btn-lg btn-rounded btn-sm btn-block">
                                <span class="col-12 d-block"> Call 108 Now <i class="fa fa-phone "></i></span>
                            </button>
                        </a>
                    </div>
                    <span class="text-info col-12 text-center" style="font-size: .75em;">(Disaster Management
                        Services)</span>
                </div>
            </div>
        </div>
        <div class="mdl-tabs__panel is-active" id="panel2" *ngIf="App.District">
            <div class="container p-3 dcontainer">
                <div class="row current" *ngIf="App.District">
                    <div class="col-12">
                        <h3 class="text-success p-0 m-0">Current District: {{App.District}}</h3>
                    </div>
                    <div class="col-12">
                        <table class="table table-borderless table-hover align-middle mt-0 pt-0">
                            <tbody>
                                <tr class="py-3 text-white">
                                    <td>
                                        Emergency Numbers:
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-light btn-rounded btn-sm"
                                            (click)="openDistrict(DistrictWise[App.District.toLowerCase()], App.District.toLowerCase())">Show</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="h6">Explore other DIstricts</p>
                    </div>
                    <div class="col-12">
                        <div class="districts">
                            <table class="table align-middle table-striped table-hover table-borderless">
                                <tbody>
                                    <tr *ngFor="let row of Districts" class="text-white">
                                        <td scope="col">{{row}}</td>
                                        <td scope="col">
                                            <button type="button" class="btn btn-light btn-rounded btn-sm"
                                            (click)="openDistrict(DistrictWise[row], row)">Show</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdl-tabs__panel" id="panel3">
            <div class="container p-3">
                <div class="row">
                    <div class="col-12">
                        Will be ready soon
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #EmergencyNum>
        <h2 mat-dialog-title>Emergency Dial</h2>
        <table class="table align-middle table-striped table-hover table-borderless">
            <tbody>
                <tr *ngFor="let row of emergencynum" class="text-white">
                    <td scope="col">{{row.name}}</td>
                    <td scope="col">
                        <a href="tel:{{row.num}}">
                            <button type="button" class="btn btn-danger btn-rounded btn-sm"><i
                                    class="fa fa-phone "></i></button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div mat-control-actions>
            <button mat-button mat-dialog-close> Close </button>
        </div>
    </ng-template>

    <ng-template #HospitalNum>
        <h2 mat-dialog-title>Hospital Dial</h2>
        <table class="table align-middle table-striped table-hover table-borderless">
            <tbody>
                <tr *ngFor="let row of hospitals" class="text-white">
                    <td scope="col">{{row.name}}</td>
                    <td scope="col">
                        <a href="tel:{{row.num}}">
                            <button type="button" class="btn btn-danger btn-rounded btn-sm"><i
                                    class="fa fa-phone "></i></button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div mat-control-actions>
            <button mat-button mat-dialog-close> Close </button>
        </div>
    </ng-template>

    <ng-template #ControlRoomNum>
        <h2 mat-dialog-title>Control Rooms</h2>
        <table class="table align-middle table-striped table-hover table-borderless">
            <tbody>
                <tr *ngFor="let row of controlroom" class="text-white">
                    <td scope="col">{{row.name}}</td>
                    <td scope="col">
                        <a href="tel:{{row.num}}">
                            <button type="button" class="btn btn-danger btn-rounded btn-sm"><i
                                    class="fa fa-phone "></i></button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div mat-control-actions>
            <button mat-button mat-dialog-close> Close </button>
        </div>
    </ng-template>

</div>