<div class="container-fluid text-white text-left ">
    <mat-tab-group mat-align-tabs="center" dynamicHeight [selectedIndex]="tabIndex"
        (selectedIndexChange)="selectedIndexChange($event)">
        <mat-tab label="Helplines">
            <div class="container">
                <div class="">
                    <div class="h3 col-12 text-info">
                        Kerala Helplines:
                    </div>
                    <div class="col-12">
                        <table class="table table-borderless table-hover align-middle table-sm">
                            <tbody>
                                <tr class="h5 py-3 text-white">
                                    <td>Emergency Numbers: </td>
                                    <td>
                                        <button type="button" class="btn btn-light btn-rounded btn-sm"
                                            (click)="openModal(EmergencyNum)">Show</button>
                                    </td>
                                </tr>
                                <tr class="h5 text-white">
                                    <td>Hospitals: </td>
                                    <td>
                                        <button type="button" class="btn btn-light btn-rounded btn-sm"
                                            (click)="openModal(HospitalNum)">Show</button>
                                    </td>
                                </tr>
                                <tr class="h5 text-white">
                                    <td>Police Control Room: </td>
                                    <td>
                                        <button type="button" class="btn btn-light btn-rounded btn-sm"
                                            (click)="openModal(ControlRoomNum)">Show</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12 text-center">
                        <button type="button" class="btn btn-danger btn-lg btn-rounded btn-sm btn-block" (click)="gotoReport()">
                            <span class="col-12 d-block"> Report {{App.place}} <i class="fa fa-flag"></i></span>
                        </button>
                    </div>
                    <div class="col-12 text-center mt-3">
                        <a href="tel:108">
                            <button type="button" class="btn btn-primary btn-lg btn-rounded btn-sm btn-block">
                                <span class="col-12 d-block"> Call 108 Now <i class="fa fa-phone "></i></span>
                            </button>
                        </a>
                    </div>
                    <div class="text-info col-12 text-center" style="font-size: .75em;">(Disaster Management
                        Services)
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="District" *ngIf="App.District">
            <div class="p-3 dcontainer">
                <div class="current" *ngIf="App.District">
                    <div class="col-12">
                        <h3 class="text-success p-0 m-0">Current District: {{App.District | titlecase}}</h3>
                    </div>
                    <div class="col-12">
                        <table class="table table-borderless table-hover align-middle mt-0 pt-0">
                            <tbody>
                                <tr class="py-3 text-white">
                                    <td>
                                        Emergency Numbers:
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-light btn-rounded btn-sm"
                                            (click)="openDistrict(DistrictWise[App.District.toLowerCase()], App.District.toLowerCase())">Show</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="">
                    <div class="col-12">
                        <p class="h5 text-success">See also</p>
                    </div>
                    <div class="col-12">
                        <div class="districts">
                            <table class="table align-middle table-striped table-hover table-borderless">
                                <tbody>
                                    <tr *ngFor="let row of Districts" class="text-white"
                                        [ngClass]="{'d-none': row==App.District.toLowerCase()}">
                                        <td scope="col">{{row | titlecase}}</td>
                                        <td scope="col">
                                            <button type="button" class="btn btn-light btn-rounded btn-sm"
                                                (click)="openDistrict(DistrictWise[row], row)">Show</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Report">
            <app-regster-form></app-regster-form>
        </mat-tab>
    </mat-tab-group>

    <ng-template #EmergencyNum>
        <h2 mat-dialog-title>Emergency Dial</h2>
        <table class="table align-middle table-striped table-hover table-borderless">
            <tbody>
                <tr *ngFor="let row of emergencynum" class="text-white">
                    <td scope="col">{{row.name}}</td>
                    <td scope="col">
                        <a href="tel:{{row.num}}">
                            <button type="button" class="btn btn-danger btn-rounded btn-sm"><i
                                    class="fa fa-phone "></i></button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div mat-control-actions>
            <button mat-button mat-dialog-close> Close </button>
        </div>
    </ng-template>

    <ng-template #HospitalNum>
        <h2 mat-dialog-title>Hospital Dial</h2>
        <table class="table align-middle table-striped table-hover table-borderless">
            <tbody>
                <tr *ngFor="let row of hospitals" class="text-white">
                    <td scope="col">{{row.name}}</td>
                    <td scope="col">
                        <a href="tel:{{row.num}}">
                            <button type="button" class="btn btn-danger btn-rounded btn-sm"><i
                                    class="fa fa-phone "></i></button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div mat-control-actions>
            <button mat-button mat-dialog-close> Close </button>
        </div>
    </ng-template>

    <ng-template #ControlRoomNum>
        <h2 mat-dialog-title>Control Rooms</h2>
        <table class="table align-middle table-striped table-hover table-borderless">
            <tbody>
                <tr *ngFor="let row of controlroom" class="text-white">
                    <td scope="col">{{row.name}}</td>
                    <td scope="col">
                        <a href="tel:{{row.num}}">
                            <button type="button" class="btn btn-danger btn-rounded btn-sm"><i
                                    class="fa fa-phone "></i></button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div mat-control-actions>
            <button mat-button mat-dialog-close> Close </button>
        </div>
    </ng-template>

</div>