.container-fluid{
    height:110%;
    background-color: white;
}

.header-title{
    font-family: Neuton !important;
    font-size: 41px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: normal;
  }
