<div class="container-fluid">
    <div class="row bg-white p-2 d-flex align-items-center header-banner">
      <div class="col-md-2 col-3 text-center">
        <img src="../assets/images/Logo.png" alt="" height="80px">
      </div>
      <div class="col-md-6 col-9 h-100">
        <p class="header-title text-center text-black p-0 m-0">
          Santhigiri College
        </p>
        <p class="p-0 m-0 text-center d-none d-md-block">
          Affiliated to MG University and Approved by AICTE
        </p>
      </div>
      <div class="col-md-4 text-center">
        <p class="p-0 m-0 text-center d-block d-md-none">
          Affiliated to MG University and Approved by AICTE
        </p>
        <p class="h2">
          Disaster Management System
        </p>
      </div>
    </div>
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-6">
          <img src="../../assets/images/img.jpg" alt="" class="w-100 d-md-block d-none">
        </div>
        <div class="col-md-6">
          <p class="h3">Santhigiri Disaster Management System</p>
          <p>
            This website includes all the important disaster management numbers and you can make calls to that number by single click.
            You can also report your place to Santhigiri servers so that everyone will be aware of that place.
          </p>
        </div>
      </div>
    </div>    
  </div>