<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->

      <a class="mdl-navigation__link" routerLink="index">
        <span class="mdl-layout-title">Santhigiri DMS</span>
      </a>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" routerLink="index">Home</a>
        <a class="mdl-navigation__link" routerLink="about">About</a>
        <a href="http://www.santhigiricollege.com/" target="_blank" class="mdl-navigation__link">Santhigiri College</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer p-3 text-white">
    <a class="mdl-navigation__link" routerLink="index">
      <span class="mdl-layout-title">Santhigiri DMS</span>
    </a>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" routerLink="index">Home</a>
      <a class="mdl-navigation__link" routerLink="about">About</a>
      <a href="http://www.santhigiricollege.com/" target="_blank" class="mdl-navigation__link">Santhigiri College</a>
    </nav>
  </div>


  <div id="googlemaps">
    <div class="mapouter">
      <div class="gmap_canvas" *ngIf="!placeURL">
        <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=Kerala&t=&z=9&ie=UTF8&iwloc=&output=embed"
          frameborder="0" scrolling="no" marginheight="0" marginwidth="0" height="100%"></iframe>
      </div>
      <div class="gmap_canvas" *ngIf="placeURL">
        <iframe id="gmap_canvas" [src]="placeURL | safe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
          height="100%"></iframe>
      </div>
    </div>
  </div>

  <main class="mdl-layout__content">

    <div class="main-content">
      <router-outlet></router-outlet>
      <!-- <app-home-content></app-home-content> -->
    </div>

    <div class="news-content">

      <app-newscards></app-newscards>

      <footer class="bg-light text-center text-lg-left mt-5 border-top">
        <!-- Grid container -->
        <div class="container p-4">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <h3 class="text-uppercase">Santhigiri COllege</h3>
              <p>
                Santhigiri College Vazhithala, Thodupuzha Idukki Dt.,
                Kerala, India Postcode 685 583 Tel: +91 4862-273006, +91 82812 10209
                email: mail@santhigiricollege.com website: www.santhigiricollege.com
              </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 offset-md-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Links</h5>

              <ul class="list-unstyled mb-0">
                <li>
                  <a href="http://www.santhigiricollege.com/" target="_blank" class="text-dark">Santhigiri College</a>
                </li>
                <li>
                  <a href="https://kerala.gov.in/districts" target="_blank" class="text-dark">Districts</a>
                </li>
                <li>
                  <a href="https://www.accuweather.com/" target="_blank" class="text-dark">Weather</a>
                </li>
                <li>
                  <a routerLink="about" class="text-dark">About</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          Developed By:
          <a class="text-dark" href="mailto:vishnuvinod2772001@gmail.com">vishnuvinod2772001@gmail.com</a>
        </div>
        <!-- Copyright -->
      </footer>

    </div>



  </main>
</div>