@media screen and (max-width:1024px){
    .mdl-layout__content{
        min-height: calc(100vh - 56px);
    }
}
@media screen and (min-width:1025px){
    .mdl-layout__content{
        min-height: calc(100vh - 64px);
    }    
}
// .mdl-layout__content{    
//     background-color: red;
// }

.main-content{
    height: 70vh;
    width:100%;
}
.news-content{  
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-top: 0px;  
    width:100%;
    background-color: white;
    position: absolute;
}


#googlemaps {
    height:100vh;;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
    margin-top: -50px;
  }
  
.gmap_canvas{
    width: 100%;
    height: 100vh;
    z-index: 0;
}

