@media screen and (max-width:767px){
    .demo-card-square.mdl-card {
        width: 250px;
        height: 320px;
        border-radius: 15px;
        box-shadow: -2px 2px 5px black;
        padding:0;
        margin:10px;
      }
      div.larged{
          display: none!important;
      }
}
@media screen and (min-width:766px){
    .demo-card-square.mdl-card {
        width: 400px;
        height: 320px;
        border-radius: 15px;
        box-shadow: -2px 2px 5px black;
        padding:0;
        margin:10px;
      }
      .phone{
          display: none;
      }
}

.demo-card-square > .mdl-card__title {
color: #fff;
}

.horicards{
    width: 100%;
    overflow:auto;
    padding: 10px;
    box-sizing: border-box;
}
.horicards::-webkit-scrollbar {
    display: none;
  }
  .horicards{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .mySlides {display:none;}
  
  .news-title{
    text-shadow: 2px 2px 3px #000;
  }
  .mdl-card__supporting-text  {
    text-align: justify;
  }

  @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
// Variables
$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$open-sans: 'Open Sans',
sans-serif;
// clear-fix mixin
@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

.cardTitle {
  text-decoration: none;
}

.title {
  font-family: $open-sans;
  font-weight: 300;
}


// Base styles
.card {
  float: left;
  padding: 0;
  margin: 10px;
  border-radius: 15px;
  max-width: 45%;

  .menu-content {
    @include cf;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
    }
    a {
      color: $white;
    }
    span {
      position: absolute;
      left: 50%;
      top: 0;
      font-size: 10px;
      font-weight: 700;
      font-family: 'Open Sans';
      transform: translate(-50%, 0);
    }
  }
  .wrapper {
    background-color: $white;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
    height:200px;
    border-radius: 15px;
  }
  .data {
	  float: right;
    width: 60%;
	 height: 100%;
    .content {
      padding: 1em;
      position: relative;
      z-index: 1;
    }
  }
  .author {
    font-size: 12px;
  }
  .title {
    margin-top: 10px;
  }
  .text {
    height: 70px;
    margin: 0;
  }
  input[type='checkbox'] {
    display: none;
  }
  input[type='checkbox']:checked + .menu-content {
    transform: translateY(-60px);
  }
}

// First example styles
.example-1 {
    
  .content {
    background-color: $white;
    height: 100%;
  }
  .title {
    a {
      color: lighten($black, 50%);
    }
  }
}

.image {
	float: left;
    width: 40%;
    height: 100%;
    background-color: green($color: #000000);
}

.book-image {
	width: 100%;
	display: block;
	margin-top: auto;
	margin-bottom: auto;
}



  